{% extends 'rate/base2.html' %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'rate/css/about.css' %}">
	<script src="{% static 'rate/js/about.js' %}"></script>
{% endblock %}

{% block front %}
	<div id="about-container">
		<h1 id="about-header">About</h1>
		<p id="about">Submit a link and rate it! Pretty self-explanatory.
		 You can also view submitted links and rate those. Thinking about adding 
		 user and commenting functionality at some point.</p>

		<h2>Me?</h2>
		<button class="button1" id="website-button">Website</button>
		<button class="button1" id="email-button">Email</button>
		<button class="button1" id="github-button">Github</button>
	</div>
{% endblock %}