{% extends 'rate/base.html' %}

{% block body %}
<div>
	<h3>Top 10 Highest Rated Links:</h3>
	<ol>
	{% for link in rated_links %}
		<li style="font-size: 16px;"><a href="/rate/link/{{ link.title_slug }}">
			{{ link.title }}</a> : {{ link.avg_rating }}</li>
	{% endfor %}
	</ol>
</div>

<div>
	<h3>Top 10 Most Liked Links:</h3>
	<ol>
	{% for link in liked_links %}
		<li style="font-size: 16px;"><a href="/rate/link/{{ link.title_slug }}">
			{{ link.title }}</a> : {{ link.likes }}</li>
	{% endfor %}
	</ol>
</div>
{% endblock %}